.grid1 {
  display: grid;

  /* grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 50px 50px 50px 50px; */

  grid-template-rows: repeat(2, 50px) 100px;
  grid-template-columns: repeat(4, minmax(100px, 200px));

  row-gap: 10px;
  column-gap: 20px;
}

.grid1 div {
  background-color: black;
  border: 1px solid red;
}

.grid1 div:nth-child(2n) {
  background-color: blue;
}

.grid2 {
  display: grid;
  /* grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(4, 50px);

  grid-template-areas:
    "menu header header header"
    "menu content content content"
    "menu content content content"
    "menu content content content"; */

  grid-template-rows: 100px 500px;
  grid-template-columns: 100px 500px;

  grid-template-areas:
    "header header "
    "menu content ";
  border-collapse: collapse;
}

.grid2 > div {
  border: 1px solid black;
}

.grid2 .header {
  grid-area: header;
}

.grid2 .menu {
  grid-area: menu;
}

.grid2 .content {
  grid-area: content;
}

.grid2 .center {
  grid-area: center;
}
