#root {
  width: 1920px;
}

.header {
  background: url("./imgs/intro_bg_pc.png") no-repeat;
  /* background-size: cover; */
  height: 1000px;
}

.header .container {
  padding: 0 400px;
}

.header .logo {
  padding: 40px;
  text-align: center;
}

.header .logo img {
  width: 255px;
}

#root .header .text {
  color: white;
}

.header .text p {
  opacity: 0.5;
}

.buttons {
  display: flex;
  gap: 25px;
  padding: 3rem 0;
}

.buttons button {
  width: 100%;
  height: 100px;
  border-radius: 1rem;
  border: none;
  color: white;
  font-weight: 900;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: border-radius 0.5s linear;
  font-size: 1.5rem;
}

.buttons button:hover {
  border-radius: 7rem;
}

.bootcamp,
.develrocket {
  flex: 1;
  height: 40px;
}

.bootcamp button {
  background: linear-gradient(to right, skyblue, white);
}

.bootcamp ul {
  /* font-size: 35px; */
  color: lightblue;
}

.develrocket ul {
  /* font-size: 35px; */
  color: lightpink;
}

.develrocket button {
  background: linear-gradient(to right, fuchsia, lightpink);
}

.buttons ul li {
  display: inline;
}

.buttons ul {
  /* font-size: 1rem; */
  font-weight: 900;
  text-align: center;
  padding: 1rem 0;
}

#header .bootcamp p {
  padding: 25px 0;
}
