#why {
  margin: 7rem 0;
}

#why h1 {
  font-size: 1.2rem;
  text-align: center;
  color: blueviolet;
  margin: 4rem 0;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(-17.5%);
  }
  33.3% {
    transform: translateY(-17.5%);
  }
  39.3% {
    transform: translateY(-35%);
  }
  66.6% {
    transform: translateY(-35%);
  }
  72.6% {
    transform: translateY(-52%);
  }
  100% {
    transform: translateY(-52%);
  }
}

#why .slide {
  height: 14rem;
  overflow: hidden;
  /* background-color: aqua; */
  /* animation: slide 2s linear; */
}

#why .slide div {
  animation: slide 5s linear infinite;
}

#why .slide h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
  color: darkblue;
  opacity: 0.1;
}

@keyframes text1 {
  0% {
    opacity: 1;
    font-size: 2.6rem;
  }
  6% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
  33.3% {
  }
  39.3% {
  }
  66.6% {
  }
  72.6% {
  }
  100% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
}

#why .slide div h2:nth-child(2) {
  animation: text1 5s linear infinite;
}

@keyframes text2 {
  0% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
  6% {
    opacity: 1;
    font-size: 2.6rem;
  }
  33.3% {
    opacity: 1;
    font-size: 2.6rem;
  }
  39.3% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
  66.6% {
  }
  72.6% {
  }
  100% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
}

#why .slide div h2:nth-child(3) {
  animation: text2 5s linear infinite;
}

@keyframes text3 {
  0% {
  }
  6% {
  }
  33.3% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
  39.3% {
    opacity: 1;
    font-size: 2.6rem;
  }
  66.6% {
    opacity: 1;
    font-size: 2.6rem;
  }
  72.6% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
  100% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
}

#why .slide div h2:nth-child(4) {
  animation: text3 5s linear infinite;
}

@keyframes text4 {
  0% {
  }
  6% {
  }
  33.3% {
  }
  39.3% {
  }
  66.6% {
    opacity: 0.1;
    font-size: 2.5rem;
  }
  72.6% {
    opacity: 1;
    font-size: 2.6rem;
  }
  100% {
    opacity: 1;
    font-size: 2.6rem;
  }
}

#why .slide div h2:nth-child(5) {
  animation: text4 5s linear infinite;
}
